@inject IMembersData _db
@inject IFilterService _filterService

<div class="filter">
    <h4>Partei</h4>
    @foreach (var party in FilterGroups.PartyGroups)
    {
        <div>
            <Checkbox @key="party"
                      Label="@party"
                      IsChecked="@(_filterService.SelectedParties?.Contains(party) ?? true)"
                      OnSelectionChanged="OnPartySelectionChanged" />
        </div>
    }

    <h4>Status</h4>
    @foreach (var state in FilterGroups.StateGroups)
    {
        <div>
            <Checkbox @key="state"
                      Label="@state"
                      IsChecked="@(_filterService.SelectedStates?.Contains(state) ?? true)"
                      OnSelectionChanged="OnStateSelectionChanged" />
        </div>
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        _filterService.SetSelectedPartiesDefault(FilterGroups.PartyGroups);
        _filterService.SetSelectedStatesDefault(FilterGroups.StateGroups);
    }

    private void OnPartySelectionChanged(CheckBoxStateChangedArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.Label))
        {
            return;
        }
        

        if (e.IsChecked)
        {
            _filterService.SelectedParties?.Add(e.Label);
        }
        else
        {
            _filterService.SelectedParties?.Remove(e.Label);

        }

    }
    private void OnStateSelectionChanged(CheckBoxStateChangedArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.Label))
        {
            return;
        }
        

        if (e.IsChecked)
        {
            _filterService.SelectedStates?.Add(e.Label);
        }
        else
        {
            _filterService.SelectedStates?.Remove(e.Label);

        }

    }
}
