@inherits LayoutComponentBase

<div class="app-shell">

    <div class="top-row">
        <header class="title">politgraph</header>
        <div>
            <a href="" target="_blank">Contact</a>
            <a href="https://github.com/blackrvn/PolitGraph" target="_blank">GitHub</a>
        </div>
    </div>

    <main class="app-body">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
