<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/swiss-721">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["politgraph.ui.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="pg-logo.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="@Assets["lib/cytoscape/cytoscape.min.js"]"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
